.noUiSlider,
.noUiSlider * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
   	-moz-user-select: none;
	-ms-user-select: none;
	display: block;
	cursor: default;
}
.noUiSlider {
	position: relative;
}
.noUiSlider a {
	position: absolute;
	z-index: 1;
	cursor: pointer;
}

.noUiSlider a:nth-child(2) {
	background: inherit !important;
}
.noUiSlider.vertical a {
	width: 100%;
	bottom: 0;
}
.noUiSlider.horizontal a {
	height: 100%;
	right: 0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.noUiSlider:before,
	body.TOUCH,
	.noUiSlider span {
		-ms-touch-action: none;
		}
	.noUiSlider:before {
		display: block;
		position: absolute;
		width: 150%;
		left: -25%;
		height: 400%;
		top: -150%;
		content: "";
		z-index: -1;
		}
}
.noUiSlider {
/*border-radius: 7px;*/
	opacity: 0.5;
}

.noUiSlider:hover {
	opacity: 1;
}

.noUiSlider.connect a,
.noUiSlider.connect.lower {
	background: #000000;
}
.noUiSlider,
.noUiSlider.connect.lower a {
	background-color: rgba(255,255,255,0.4);
}
.noUiSlider.disabled,
.noUiSlider.disabled.connect.lower a {
	background: #ccc;
	box-shadow: none;
}
.noUiSlider div {
	height: 15px;
	width: 15px;
	border: 1px solid #ddd;
	background-color: gray;
	cursor: pointer;
	border-radius: 50%;
}

.noUiSlider.disabled div {
background: transparent;
}
.noUiSlider.horizontal a{
        background-color: gray;
}
.noUiSlider.horizontal {
width: 100px;
height: 5px;
margin-top: 10px;
margin-left: 10px;
background-color: #f6921e;
}
.noUiSlider.horizontal div {
margin: -5px 0 0 -9px;
}