body{
	margin:0px;
	padding:0px;
}
.page_container{
	position: absolute;
	top:100px;
}

del{
	background-color:#FEC8C8;
	text-decoration: none;
	display: inline-block;
	white-space: pre;
	}
ins{
	background-color: #cfc;
	text-decoration: none;
	display:none;
	white-space: pre;
}
del *,ins *{
	opacity: inherit !important;
	background-color: inherit !important;
}

.pageAndLangauage{
	
}
#infoBox{
	color:gray;
    font-size: 11px;
    display: inline-block;
}
#infoBox > div{
	margin:2px;
}
.controls{
    /*temp*/
	display: inline-block;
    width: 250px;
    border-radius:  10px;
    margin: 0px;
    padding: 5px;
}
.play{
	background: url('../images/icons.svg') -384px -455px;
	width: 20px;
	height: 25px;
	cursor: pointer;
}
.pause{
	background: url('../images/icons.svg') -495px -455px;
	width: 20px;
	height: 20px; 
	cursor: pointer;
}
#playButtonContainer{
	width: 40px;
	height: 20px;
	float: left;	
}
.speedSlider{
	width: 200px;
	height: 20px;
	float: left;
}
.cB{
	clear: both;
}
#wikiBody{
    display:none;
    max-height: 450px;
    overflow: auto;
    margin: 5px;
    padding: 5px;
    border: solid 2px #333;
    border-radius: 5px;
}

:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

#fullscreen{
	position: relative;
	top: 0px;
}
.controlsAndButtons{
}

/* Slider */
.tooltip {   
        position: absolute;           
        text-align: center;           
        width: 100px;                  
        height: 50px;                 
        padding: 2px;             
        font: 10px sans-serif;        
        background: #ddd;   
        border: 0px;      
        border-radius: 5px;           
        pointer-events: none;         
}
rect {
    stroke: black;
    fill: gray;
}
#secondaryGraph rect{
	fill: #b4e2ef;
}
.blue{
    /*
    fill: steelblue;
    stroke: steelblue;
    */
    stroke: white;
}
.red{
    /*
    fill: red;
    stroke: red;
    */
    stroke: white;
}
.pointer{
	cursor: pointer;
}
.green{
    fill:green;
    stroke: green;
}
.brush{
    fill-opacity: .125;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    fill-opacity: .125;
    pointer-events: none;
}
#outer{
	max-width:99%;
    overflow: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #ddd;
    padding: 3px;
    border-radius: 5px;
    margin: 3px;
    display: inline-block;
}
#enlargedContainer{
    border-color: #ddd;
    border-width: 3px;
    border-radius: 5px;
    min-width: 100px;
    padding: 3px;
    border-style: solid;
    margin: 2px;
    display: inline-block;
}
.enlargedButton{
    position: absolute;
    color: #ddd;
}
.legendText{
	font-size: 10px;
	font-color:#333;
}
.left{
	float:left;
}
.right{
	float:right;
}
.absolute{
	position:absolute;
}
#sliderComplete{
	position: absolute;
	bottom: 0px;
}
#wikiBodySlider{
}
