body{
	margin:0px;
	padding:0px;
	width:100%;
	background: white;
}

#header{
	width :290px;
	background:#f5f5f5;
	margin:auto;
	padding: 5px 10px 10px;
	position: absolute;
	top: -45px;
	left: 0;
	box-shadow: 0 2px 2px #ccc;
	right: 0;
	z-index: 10;
	transition: 0.3s ease;
}
#header:before, #header:after{
	content: "";
	width: 20px;
	height: 2px;
	position: absolute;
	bottom: 5px;
	left: 42%;
	box-shadow: 1px 1px #ccc;
	z-index: 10;
}
#header:after{
	bottom: 8px;
}
#header:hover{
	top: 0;
}
#header:hover:after,#header:hover:before{
	width: 0px;
}

#fullscreen{
	position: absolute;
	right: 20px;
	top:5px;
}
input{
	border: #f5f5f5 2px solid;
	padding:10px;
	border-radius: 5px;
}
input[type=submit]{
	background: #46C2E5;
	color:#ffffff;
}

input[type=submit]:hover {
background: #56d2f5;
}

.page_container{
	position: absolute;
	top:100px;
}

del{
	background-color:#FEC8C8;
	text-decoration: none;
	display: inline-block;
	white-space: pre;
	}
ins{
	background-color: #cfc;
	text-decoration: none;
	display:none;
	white-space: pre;
}
del *,ins *{
	opacity: inherit !important;
	background-color: inherit !important;
}

.pageAndLangauage{
	
}
#infoBox{
	color:gray;
    font-size: 11px;
    display: inline-block;
}
#infoBox > div{
	margin:2px;
}
.controls{
    /*temp*/
	display: inline-block;
    width: 145px;
    margin: 0px;
    padding: 5px;
}
.play{
	cursor: pointer;
	width: 6px;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	height: 6px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 6px 5px;
}
.pause{
	cursor: pointer;
	width: 4px;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
	height: 6px;
	margin: 6px 5px;
}
#playButtonContainer{
	width: 20px;
	height: 20px;
	border: solid gray 2px;
	border-radius: 50%;
	float: left;	
}
#playButtonContainer:hover,.pause:hover,.play:hover{
	border-color: #b4e2ef; 
}
.speedSlider{
	width: 120px;
	height: 20px;
	float: left;
}
.cB{
	clear: both;
}
#wikiBody{
    display:none;
    max-height: 80%;
	max-height: -webkit-calc(100% - 115px);
	max-height: -moz-calc(100% - 115px);
	max-height: calc(100% - 115px);
    overflow: auto;
    margin: 7px 2px 2px 2px;
    padding: 5px;
    background: #f6f6f6;
}

:-webkit-full-screen {
  width: 100%;
  height: 100%;
}


/* Slider */
.tooltip {   
        position: absolute;           
        text-align: center;           
        width: 100px;                  
        height: 50px;                 
        padding: 2px;             
        font: 10px sans-serif;        
        background: #ddd;   
        border: 0px;      
        border-radius: 5px;           
        pointer-events: none;         
}
rect {
    stroke: black;
    fill: #999595;
    stroke-width:0px;
}
text{
	font-size: 9px;
	fill: #666;
}
#secondaryGraph rect{
	fill: #b4e2ef;
	stroke-width:0px;
}
.blue{
    /*
    fill: steelblue;
    stroke: steelblue;
    */
    stroke: white;
}
.red{
    /*
    fill: red;
    stroke: red;
    */
    stroke: white;
}
.pointer{
	cursor: pointer;
}
.green{
    fill:green;
    stroke: green;
}
.brush{
    fill-opacity: .125;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    fill-opacity: .125;
    pointer-events: none;
}
#outer{
	max-width: 1200px;
	overflow: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	padding: 3px;
	margin: 1px 2px 0px 2px;
}

#enlargedContainer {
	min-width: 100px;
	padding: 0px 3px 0px 3px;
	margin: 0px 2px 0px 2px;
	display: inline-block;
	background: #f5f5f5;
	box-shadow: 0px 0px 3px #aaa;
	transition: 0.3s ease;
}
#enlarged{
	transition: 0.3s ease;
}
.enlargedButton{
    position: absolute;
    color: #ddd;
    top: 2px;
    cursor: pointer;
	width: 6px;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	height: 6px;
	margin: 6px 5px;
}
.up{
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	transform: rotate(135deg);
}
.down{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.legendText{
	font-size: 10px;
	stroke-fill:#666;
}
.left{
	float:left;
}
.right{
	float:right;
}
.absolute{
	position:absolute;
}
#sliderComplete{
	position: absolute;
	bottom: 0px;
	padding: 4px 4px 0px 4px;
}
#wikiBodySlider{
}
.resize > rect {
	visibility:visible !important;
	fill-opacity:.7;
	fill: gainsboro;
	stroke: #d7d7d7; 
}
.extent{
	stroke:white;
}
.notify{
	position: absolute;
	height: 200px;
	width: 200px;
	margin: auto;
	z-index: 10;
}
.notifyPlay{
	background: url('../images/play.png');
	background-position: center;
}
.notifyPause{
	background: url('../images/pause.png');
	background-position: center;
}
.notifyLoad{
	background-position: center;
	
}
/*
Style for Minor edit
width: 15px;
line-height: 1;
height: 10px;
border-radius: 50%;
background: #ddd;
padding: 4px 2px;
text-align: center;
position: absolute;
top: 5px;
right: 5px;
}
--------
1px -1px 5px #ccc
*/


