body{
	margin:0px;
	padding:0px;
	width:100%;
	background: white;
}

#header{
	width :290px;
	background:#f5f5f5;
	margin:auto;
	padding: 5px 10px 10px;
	position: absolute;
	top: -45px;
	left: 0;
	box-shadow: 0 2px 2px #ccc;
	right: 0;
	z-index: 10;
	transition: 0.3s ease;
}
#header:before, #header:after{
	content: "";
	width: 20px;
	height: 2px;
	position: absolute;
	bottom: 5px;
	left: 42%;
	box-shadow: 1px 1px #ccc;
	z-index: 10;
}
#header:after{
	bottom: 8px;
}
#header:hover{
	top: 0;
}
#header:hover:after,#header:hover:before{
	width: 0px;
}

#fullscreen{
	position: absolute;
	right: 20px;
	top:5px;
}
input{
	border: #f5f5f5 2px solid;
	padding:10px;
	border-radius: 5px;
}
input[type=submit]{
	background: #46C2E5;
	color:#ffffff;
}

input[type=submit]:hover {
background: #56d2f5;
}

.page_container{
	position: absolute;
	top:100px;
}

del{
	background-color:#FEC8C8;
	text-decoration: none;
	display: inline-block;
	white-space: pre;
	}
ins{
	background-color: #cfc;
	text-decoration: none;
	display:none;
	white-space: pre;
}
del *,ins *{
	opacity: inherit !important;
	background-color: inherit !important;
}

.pageAndLangauage{
	
}
#infoBox{
	color:gray;
    font-size: 11px;
    display: inline-block;
}
#infoBox > div{
	margin:2px;
}
.controls{
    /*temp*/
	display: inline-block;
    width: 250px;
    border-radius:  10px;
    margin: 0px;
    padding: 5px;
}
.play{
	background: url('../images/icons.svg') -384px -455px;
	width: 20px;
	height: 25px;
	cursor: pointer;
}
.pause{
	background: url('../images/icons.svg') -495px -455px;
	width: 20px;
	height: 20px; 
	cursor: pointer;
}
#playButtonContainer{
	width: 40px;
	height: 20px;
	float: left;	
}
.speedSlider{
	width: 200px;
	height: 20px;
	float: left;
}
.cB{
	clear: both;
}
#wikiBody{
    display:none;
    max-height: 81%;
    overflow: auto;
    margin: 7px 2px 2px 2px;
    padding: 5px;
    /* 
    border: solid 2px #ddd;
    border-radius: 5px;
    */
    background: #f6f6f6;
}

:-webkit-full-screen {
  width: 100%;
  height: 100%;
}


/* Slider */
.tooltip {   
        position: absolute;           
        text-align: center;           
        width: 100px;                  
        height: 50px;                 
        padding: 2px;             
        font: 10px sans-serif;        
        background: #ddd;   
        border: 0px;      
        border-radius: 5px;           
        pointer-events: none;         
}
rect {
    stroke: black;
    fill: gray;
    stroke-width:0px;
    
}
#secondaryGraph rect{
	fill: #b4e2ef;
	stroke-width:0px;
}
.blue{
    /*
    fill: steelblue;
    stroke: steelblue;
    */
    stroke: white;
}
.red{
    /*
    fill: red;
    stroke: red;
    */
    stroke: white;
}
.pointer{
	cursor: pointer;
}
.green{
    fill:green;
    stroke: green;
}
.brush{
    fill-opacity: .125;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    fill-opacity: .125;
    pointer-events: none;
}
#outer{
	max-width: 1200px;
	overflow: auto;
	border-style: solid;
	border-width: 2px;
	border-color: #ddd;
	padding: 3px;
	border-radius: 5px;
	margin: 1px 2px 0px 2px;
	display: inline-block;
}

#enlargedContainer {
	min-width: 100px;
	padding: 0px 3px 0px 3px;
	margin: 0px 2px 0px 2px;
	display: inline-block;
	background: white;
	box-shadow: 1px -1px 2px #ccc;
}
.enlargedButton{
    position: absolute;
    color: #ddd;
}
.legendText{
	font-size: 10px;
	font-color:#333;
}
.left{
	float:left;
}
.right{
	float:right;
}
.absolute{
	position:absolute;
}
#sliderComplete{
	position: absolute;
	bottom: 0px;
}
#wikiBodySlider{
}
.resize > rect {
	visibility:visible !important;
	fill-opacity:.7;
	fill: gainsboro;
	stroke: #d7d7d7; 
}
.extent{
	stroke:white;
}